<h1>Editing comission</h1>

<%= render "form", comission: @comission %>

<br>

<div>
  <%= link_to "Show this comission", @comission %> |
  <%= link_to "Back to comissions", comissions_path %>
</div>
